/* Top panel */ 
.navbar {
    border-radius: 0;
}

.navbar-form {
    margin-left: auto;
    padding-right: 0px;
    margin-right: 1px;
}

.dropdown-menu {
    left: auto !important;
    right: auto !important;
    z-index: 1000;
    /*float: left;*/
}

.search-group {
    display: inline-flex;
}

.search-group input {
    width: 230px!important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-group button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.categories ul {
  list-style-type: none;
  padding-left: 10px;
}

/* Books list */
.books-img img {
    height: 277px;
}

.books-img, .book-images .panel-body {
    padding: 0px!important;
}

.books-img img, .book-images img {
    object-fit: cover;
    width: 100%;
}

.book-img-left {
    padding: 0px 2px 0px 0px!important;
}

.book-img-right {
    padding: 0px 0px 0px 2px!important;
}

.book-img-half {
    height: 436px;
}

.book-img-quarter {
    height: 215px;
}

/* Book details */
.book-price {
    
}

.book-name {
    
}

.book-author {
    
}

.book-description {
    
}

.book-email {
    margin-top: 10px;
    margin-bottom: 0px;
}

.ask-button, .to-favourite-button {
    width: 100%;
    display: inline-block;
}

.ask-button {
    
}

.to-favourite-button {
    
}

/* "fotorama" - jQuery plugin */
.fotorama {
    margin-bottom: 11px;
}

/* Others */
.hidden {
    display: none;
}

.no-padding {
    padding: 0px!important;
}
